<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% if employee_signed_in? %>
  
    <h2>Customer Sign up</h2>
    
    <%= f.hidden_field :created_by_employee, value: true %>

    <%= f.hidden_field :confirmed_at, value: Time.now %>

    <div class="field">
      <%= f.label :title %><br />      
      <%= f.select :title, Customer::TITLE, :prompt => "", autofocus: true   %>
    </div>

    <div class="field">
      <%= f.label :prename %><br />
      <%= f.text_field :prename %>
    </div>

    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>

    <div class="field">
      <%= f.label :birthdate %><br />
      <%= f.date_select :birthdate, :prompt => { day: "", month: "", year: "" } , :start_year => Date.current.year - 18, :end_year => Date.current.year - 120 %>
    </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :phonecode %><br />
      <%= f.text_field :phonecode %>
    </div>

    <div class="field">
      <%= f.hidden_field :email, value: Time.now.strftime("%d%m%Y%H%M%S").to_s + ENV["APP_EMAIL"] %>
    </div>

    <div class="field">            
      <%= f.hidden_field :password, autocomplete: "off", value: "password" %>
    </div>

    <div class="field">
      <%= f.hidden_field :password_confirmation, autocomplete: "off", value: "password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

  <% else %>

    <h2>Sign up</h2>

    <%= f.hidden_field :created_by_employee, value: false %>

    <div class="field">
      <%= f.label :title %><br />      
      <%= f.select :title, Customer::TITLE, :prompt => "" %>
    </div>

    <div class="field">
      <%= f.label :prename %><br />
      <%= f.text_field :prename %>
    </div>

    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.check_box :newsletter %>
      <%= f.label :newsletter %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

    <%= render "customers/shared/links" %>

  <% end %>

<% end %>