<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<% if allow? "categories", "edit" %>
	<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back', categories_path %>

<br />
<br />
<% Categorization.where(category_id: @category.id).sort_by{ |categorization| [categorization.id] }.each do |categorization| %>
  <%= Product.where("id = " + categorization.product_id.to_s).first.name + " " %>
  <%= Product.where("id = " + categorization.product_id.to_s).first.price %>
  <br />  
<% end %>



