<h1>Listing all categories</h1>
<table>
  <tbody>
    <% Category.find_each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <% if allow? "categories", "edit" %>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <% end %>
        <% if allow? "categories", "destroy" %>  
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if allow? "categories", "new" %>
  <%= link_to 'New Category', new_category_path %>
<% end %>

<h1>Listing all products</h1>
<table>
  <tbody>
    <% Product.find_each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <% if allow? "products", "edit" %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <% end %>
        <% if allow? "products", "destroy" %>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if allow? "products", "new" %>
  <%= link_to 'New Product', new_product_path %>
<% end %>