<% if current_employee.present? || request.fullpath.include?(employee_registration_path) %>

  <p class="navbar-text pull-right">
  <% if employee_signed_in? %>
    Logged in as employee <strong><%= current_employee.email %></strong>.
    <%= link_to 'Edit profile', edit_employee_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_employee_session_path, method: :delete, :class => 'navbar-link'  %>
    <p><%= link_to 'Customers',customers_path %> | <%= link_to 'Employees',employees_path %></p>
  <% end %></p>

  <p class="navbar-text pull-right">Customer:
  <% if customer_signed_in? %>
    Logged in as <strong><%= current_customer.title + " " + current_customer.prename + " " + current_customer.surname %></strong>.
    <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %>
  <% end %></p>

<% else %>

  <p class="navbar-text pull-right">
  <% if customer_signed_in? %>
    Logged in as <strong><%= current_customer.title + " " + current_customer.prename + " " + current_customer.surname %></strong>.
    <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %>
  <% end %></p>

<% end %>


<p><%= link_to 'Products', products_path %> | <%= link_to 'Categories', categories_path %></p>
